html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

@-webkit-keyframes slide {
  100% {
    -webkit-transform: translateX(-1200px); } }
@-moz-keyframes slide {
  100% {
    -moz-transform: translateX(-1200px); } }
@keyframes slide {
  100% {
    -webkit-transform: translateX(-1200px);
    -moz-transform: translateX(-1200px);
    -ms-transform: translateX(-1200px);
    -o-transform: translateX(-1200px);
    transform: translateX(-1200px); } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
    opacity: 0; }
  15% {
    -webkit-transform: translateY(0);
    opacity: 1; }
  85% {
    -webkit-transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100px);
    opacity: 0; } }
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(100px);
    opacity: 0; }
  15% {
    -moz-transform: translateY(0);
    opacity: 1; }
  85% {
    -moz-transform: translateY(0px);
    opacity: 1; }
  100% {
    -moz-transform: translateY(100px);
    opacity: 0; } }
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  15% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  85% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; } }
.grid-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 1230px; }
  @media (max-width: 870px) {
    .grid-container {
      width: 92%; } }
  @media (max-width: 760px) {
    .grid-container {
      width: 90%; } }

.row:after {
  display: block;
  clear: both;
  content: ''; }

.row + .row {
  margin-top: 4%; }

.grid-spacer {
  width: 100%;
  height: 1px; }

[class^="col-"] {
  float: left;
  margin-right: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

.col-1 {
  width: 4.66667%; }

.shift-1 {
  margin-left: 4.66667%; }

.col-2 {
  width: 13.33333%; }

.shift-2 {
  margin-left: 13.33333%; }

.col-3 {
  width: 22%; }

.shift-3 {
  margin-left: 22%; }

.col-4 {
  width: 30.66667%; }

.shift-4 {
  margin-left: 30.66667%; }

.col-5 {
  width: 39.33333%; }

.shift-5 {
  margin-left: 39.33333%; }

.col-6 {
  width: 48%; }

.shift-6 {
  margin-left: 48%; }

.col-7 {
  width: 56.66667%; }

.shift-7 {
  margin-left: 56.66667%; }

.col-8 {
  width: 65.33333%; }

.shift-8 {
  margin-left: 65.33333%; }

.col-9 {
  width: 74%; }

.shift-9 {
  margin-left: 74%; }

.col-10 {
  width: 82.66667%; }

.shift-10 {
  margin-left: 82.66667%; }

.col-11 {
  width: 91.33333%; }

.shift-11 {
  margin-left: 91.33333%; }

.col-12 {
  width: 100%; }

.shift-12 {
  margin-left: 100%; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-family: "soleil", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

a, label, input {
  font-family: "soleil", sans-serif; }

h1 {
  color: #fff;
  font-size: 3em; }

h2 {
  font-size: 2.25em;
  color: #a38d32; }
  @media (max-width: 595px) {
    h2 {
      font-size: 1.8em; } }

h3 {
  text-align: left;
  font-size: 1.5em;
  color: #a38d32; }

h4 {
  font-size: 1.188em; }

p {
  font-family: "soleil", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0.4em 0 0.4em 0;
  color: #7a7a7a;
  font-weight: 100; }
  @media (max-width: 595px) {
    p {
      font-size: 1.1em; } }

p.large {
  font-size: 1.5em;
  text-align: center; }
  @media (max-width: 595px) {
    p.large {
      font-size: 1.1em; } }

ol, ul {
  padding: 0.3em 0 0.3em 0; }

li {
  margin: 0.3em 0 0.3em; }

ol li {
  list-style-type: decimal; }

ul li {
  font-family: "soleil", sans-serif;
  list-style-type: disc; }

span {
  color: #a38d32; }

small, .font_small {
  font-size: 0.8em; }

footer {
  width: 100%;
  height: 100px; }

label {
  font-size: 1.1em;
  color: #7a7a7a;
  padding: 10px 0; }

fieldset {
  margin-top: 15px;
  box-sizing: border-box;
  float: left;
  width: 100%; }

fieldset.form-half {
  width: 48%; }
  fieldset.form-half:nth-child(even) {
    margin-left: 4%; }

input, textarea {
  cursor: pointer;
  width: 100%;
  padding: 18px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 1.1em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #fff;
  background: #f5f5f5;
  outline: 0;
  font-family: "soleil", sans-serif;
  -webkit-appearance: none;
  color: #7a7a7a;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  input:focus, textarea:focus {
    border: 1px solid #a38d32;
    color: #a38d32; }
  @media (max-width: 870px) {
    input, textarea {
      padding: 12px 17px;
      margin-bottom: 10px; } }
  @media (max-width: 350px) {
    input, textarea {
      padding: 10px 13px; } }

input[type="submit"] {
  width: 200px;
  float: right;
  background: #a38d32;
  border: 0;
  color: #fff; }
  input[type="submit"]:hover {
    background: #7c6b26; }
  @media (max-width: 870px) {
    input[type="submit"] {
      width: 100%; } }

header {
  position: fixed;
  z-index: 5000;
  background: #fff;
  width: 100%;
  border-top: 3px solid #a38d32;
  height: 85px;
  top: 0;
  overflow: visible;
  padding-bottom: 30px;
  padding-top: 30px; }
  header nav {
    margin-top: 30px;
    margin-left: 50px; }
  header nav ul li {
    display: inline;
    padding-left: 50px; }
    header nav ul li a {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #a38d32;
      font-size: 1.1em;
      letter-spacing: 1px;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      border-bottom: 2px solid #fff; }
  header nav ul li.home {
    display: none; }
  header nav ul li a.current {
    border-bottom: 2px solid #a38d32; }
  header nav ul li a:hover {
    border-bottom: 2px solid #d3d3d3; }
  header .language-selector {
    float: right;
    margin-top: 32px; }
    header .language-selector .language-selected {
      cursor: pointer; }
    header .language-selector .language-selected:after {
      content: "";
      display: block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #a38d32;
      position: absolute;
      margin-top: 6px;
      padding-top: 7px;
      right: 0;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    header .language-selector .language-selected.active:after {
      margin-top: 1px;
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg); }
    header .language-selector a {
      color: #7a7a7a;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 1px;
      text-decoration: none;
      clear: both;
      width: 130px;
      float: left;
      cursor: pointer; }
    header .language-selector ul.dropdown {
      display: none;
      background: #fff;
      z-index: 50;
      position: absolute;
      margin-top: 83px;
      padding: 0; }
    header .language-selector ul.dropdown.active {
      display: block; }
    header .language-selector ul li {
      margin: 0;
      padding: 0px 0;
      margin-bottom: 20px;
      list-style-type: none; }
    header .language-selector ul li a {
      cursor: pointer;
      padding: 5px 10px;
      border-bottom: 1px solid #f5f5f5; }
    header .language-selector ul li:first-child a {
      padding-top: 10px; }
    header .language-selector ul li:last-child a {
      padding-bottom: 10px; }
    header .language-selector ul li a:hover {
      background: #f5f5f5; }
    header .language-selector span {
      float: left;
      display: block;
      margin-top: 2px; }
    header .language-selector img {
      margin-right: 15px;
      width: 30px;
      float: left; }
  @media (max-width: 1130px) {
    header {
      height: 65px; }
      header nav {
        margin-top: 25px;
        margin-left: 25px; }
        header nav ul li {
          padding-left: 25px; }
      header .language-selector {
        margin-top: 25px; }
        header .language-selector ul.dropdown {
          margin-top: 70px; } }
  @media (max-width: 870px) {
    header {
      height: 70px; }
      header nav {
        display: none; }
      header .col-3 {
        width: 30%; }
      header .col-3:last-child {
        float: right; }
      header .language-selector {
        margin-top: 20px; }
        header .language-selector ul li a:hover {
          background: #fff; }
        header .language-selector ul.dropdown {
          margin-top: 80px; } }
  @media (max-width: 760px) {
    header {
      height: 80px; }
      header .col-3 {
        float: left;
        width: 45%;
        margin: 0; }
      header .language-selector {
        margin-top: 25px; }
        header .language-selector ul.dropdown {
          margin-top: 80px; } }
  @media (max-width: 595px) {
    header {
      height: 45px; }
      header .language-selector {
        margin-top: 10px; }
        header .language-selector ul.dropdown {
          margin-top: 60px; } }

.link-btn-one {
  color: #fff;
  padding: 10px 30px 12px 30px;
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 120px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  .link-btn-one:hover {
    background: #fff;
    color: #a38d32; }

.home {
  width: 100%;
  height: 500px;
  background: #015ec5;
  padding: 70px 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  margin-top: 120px;
  overflow: hidden; }
  .home .col-7 {
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none; }
    .home .col-7 h1, .home .col-7 p {
      color: #fff; }
    .home .col-7 h1 {
      width: 393px;
      border-bottom: 3px solid #a38d32;
      margin: 65px auto 25px auto;
      display: block; }
  .home img {
    top: 0;
    position: fixed;
    overflow: hidden;
    height: 1000px;
    z-index: -10;
    -webkit-animation: slide 60s linear alternate infinite;
    -moz-animation: slide 60s linear alternate infinite;
    animation: slide 60s linear alternate infinite; }
  @media (max-width: 760px) {
    .home {
      margin-top: 90px; }
      .home .col-7 {
        width: 100%;
        margin-top: 90px; }
        .home .col-7 h1 {
          margin: 25px auto 25px auto;
          font-size: 2.5em;
          width: 330px; } }
  @media (max-width: 595px) {
    .home .col-7 h1 {
      margin: 15px auto 15px auto;
      font-size: 2em;
      width: 268px; } }

.home-triangle {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%; }
  .home-triangle div {
    width: 150px; }
  .home-triangle .top-right {
    position: fixed;
    z-index: 10;
    top: 140px;
    right: 0; }
  .home-triangle .bottom-right {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    width: 230px;
    right: 130px; }
  .home-triangle .top-left {
    position: fixed;
    z-index: 10;
    top: 130px;
    left: -50px;
    width: 280px; }
  .home-triangle .bottom-left {
    position: fixed;
    z-index: 10;
    bottom: -40px;
    width: 260px;
    left: -5px; }
  @media (max-width: 870px) {
    .home-triangle .top-right {
      top: 120px;
      width: 150px;
      right: -50px; }
    .home-triangle .top-left {
      left: -30px;
      top: 120px;
      width: 180px; }
    .home-triangle .bottom-right {
      width: 150px;
      right: 20px; }
    .home-triangle .bottom-left {
      width: 180px; } }
  @media (max-width: 760px) {
    .home-triangle .top-right {
      top: 120px;
      width: 100px;
      right: -50px; }
    .home-triangle .top-left {
      left: -30px;
      top: 120px;
      width: 180px; }
    .home-triangle .bottom-right {
      width: 150px;
      right: 20px; }
    .home-triangle .bottom-left {
      width: 150px; } }
  @media (max-width: 595px) {
    .home-triangle .top-right {
      top: 100px;
      width: 80px;
      right: -50px; }
    .home-triangle .top-left {
      left: -30px;
      top: 120px;
      width: 150px; }
    .home-triangle .bottom-left {
      width: 120px; } }

.about .col-8 {
  display: block;
  margin: 0 auto;
  padding: 0;
  float: none; }
.about .poly-strip {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
  clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
  background: #f5f5f5;
  overflow: hidden; }
  .about .poly-strip img {
    width: 100%;
    top: 0; }
@media (max-width: 1130px) {
  .about .poly-strip img {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    margin-left: 40px;
    margin-top: 70px; } }
@media (max-width: 760px) {
  .about .col-8 {
    width: 100%; }
  .about .poly-strip {
    height: 280px; }
    .about .poly-strip img {
      margin-top: 120px;
      margin-left: 25px;
      -webkit-transform: scale(2.7);
      -moz-transform: scale(2.7);
      -ms-transform: scale(2.7);
      -o-transform: scale(2.7);
      transform: scale(2.7); } }
@media (max-width: 595px) {
  .about .poly-strip img {
    margin-top: 80px;
    margin-left: 25px; } }

.what p.large:last-child {
  padding-bottom: 100px; }
.what .row {
  border-bottom: 1px solid #d3d3d3; }
.what .row:last-child {
  border-bottom: 0; }
.what img {
  padding-bottom: 20px; }
.what .center {
  display: block;
  margin: 0 auto;
  padding: 0;
  float: none; }
.what .residential {
  padding-bottom: 30px; }
.what .conversion {
  padding-bottom: 50px; }
  .what .conversion .col-4 {
    padding-top: 10px; }
.what .refurbishment {
  padding-bottom: 50px; }
  .what .refurbishment .col-4 {
    padding-top: 40px; }
.what .management {
  padding-bottom: 50px; }
  .what .management .col-4 {
    padding-top: 25px; }
.what .poly-strip {
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%);
  clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%);
  background: #f5f5f5;
  overflow: hidden; }
  .what .poly-strip img {
    width: 100%;
    top: 0; }
@media (max-width: 1130px) {
  .what .col-6 p {
    padding-bottom: 50px; }
  .what .poly-strip img {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    margin-left: 40px;
    margin-top: 70px; } }
@media (max-width: 870px) {
  .what p.large {
    margin-bottom: 0px; }
  .what .col-6 {
    width: 100%; }
    .what .col-6 p {
      padding-bottom: 40px;
      text-align: center; }
    .what .col-6 h3 {
      text-align: center; }
  .what .poly-strip {
    height: 280px; }
    .what .poly-strip img {
      margin-top: 120px;
      margin-left: 25px;
      -webkit-transform: scale(2.7);
      -moz-transform: scale(2.7);
      -ms-transform: scale(2.7);
      -o-transform: scale(2.7);
      transform: scale(2.7); }
  .what .col-4 {
    width: 50%;
    margin: 0 auto;
    display: block;
    float: none; } }
@media (max-width: 760px) {
  .what .row:last-child .col-4 {
    padding-top: 25px; }
  .what .col-4 {
    width: 100%; }
  .what .col-6 {
    width: 100%; }
    .what .col-6 p {
      padding-bottom: 40px; }
  .what .center {
    width: 100%; }
  .what img {
    width: 100%; } }
@media (max-width: 595px) {
  .what .poly-strip img {
    margin-top: 80px;
    margin-left: 25px; } }

.contact {
  height: auto;
  overflow: auto; }
  .contact h2 {
    margin-top: 0px; }
  .contact h4 {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    color: #a38d32; }
  .contact a {
    font-size: 1.25em;
    font-weight: 100;
    color: #7a7a7a;
    clear: both;
    float: none;
    text-decoration: underline;
    display: block;
    line-height: 1.5em; }
  .contact .col-8 {
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none; }
  .contact .row:last-child {
    padding-bottom: 100px;
    margin-bottom: 75px;
    border-bottom: 1px solid #d3d3d3; }
  .contact .row:nth-child(2) {
    padding-bottom: 10px;
    border-top: 1px solid #d3d3d3; }
  .contact #map {
    width: 100%;
    height: 500px; }
    .contact #map a {
      border-bottom: 0px;
      font-size: 1em; }
    .contact #map .leaflet-control-attribution {
      display: none; }
  @media (max-width: 870px) {
    .contact .col-8 {
      width: 100%; }
    .contact fieldset.form-half {
      width: 100%; }
      .contact fieldset.form-half:nth-child(even) {
        margin-left: 0; }
    .contact .row:last-child {
      padding-bottom: 25px;
      margin-bottom: 25px; } }
  @media (max-width: 760px) {
    .contact .col-4 {
      width: 100%; }
      .contact .col-4 h4, .contact .col-4 p, .contact .col-4 a {
        text-align: center; }
    .contact #map {
      height: 350px; } }

.alert-bottom {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 15px;
  background: #a38d32;
  -webkit-animation: slideUp 5s ease-in-out forwards;
  -moz-animation: slideUp 5s ease-in-out forwards;
  animation: slideUp 5s ease-in-out forwards; }
  .alert-bottom h3 {
    margin: 0;
    color: #fff;
    font-size: 1.25em;
    text-align: center; }
  @media (max-width: 595px) {
    .alert-bottom {
      font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
