html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

.grid-container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1230px; }

.row:after {
  display: block;
  clear: both;
  content: ''; }

.row + .row {
  margin-top: 4%; }

.grid-spacer {
  width: 100%;
  height: 1px; }

[class^="col-"] {
  float: left;
  margin-right: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

.col-1 {
  width: 4.66667%; }

.shift-1 {
  margin-left: 4.66667%; }

.col-2 {
  width: 13.33333%; }

.shift-2 {
  margin-left: 13.33333%; }

.col-3 {
  width: 22%; }

.shift-3 {
  margin-left: 22%; }

.col-4 {
  width: 30.66667%; }

.shift-4 {
  margin-left: 30.66667%; }

.col-5 {
  width: 39.33333%; }

.shift-5 {
  margin-left: 39.33333%; }

.col-6 {
  width: 48%; }

.shift-6 {
  margin-left: 48%; }

.col-7 {
  width: 56.66667%; }

.shift-7 {
  margin-left: 56.66667%; }

.col-8 {
  width: 65.33333%; }

.shift-8 {
  margin-left: 65.33333%; }

.col-9 {
  width: 74%; }

.shift-9 {
  margin-left: 74%; }

.col-10 {
  width: 82.66667%; }

.shift-10 {
  margin-left: 82.66667%; }

.col-11 {
  width: 91.33333%; }

.shift-11 {
  margin-left: 91.33333%; }

.col-12 {
  width: 100%; }

.shift-12 {
  margin-left: 100%; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-family: "soleil", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

a, label, input {
  font-family: "soleil", sans-serif; }

h1 {
  color: #fff;
  font-size: 3em; }

h2 {
  font-size: 2.25em;
  color: #a38d32; }

h3 {
  text-align: left;
  font-size: 1.5em;
  color: #a38d32; }

h4 {
  font-size: 1.188em; }

p {
  font-family: "soleil", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0.4em 0 0.4em 0;
  color: #7a7a7a;
  font-weight: 100; }

p.large {
  font-size: 1.5em;
  text-align: center; }

ol, ul {
  padding: 0.3em 0 0.3em 0; }

li {
  margin: 0.3em 0 0.3em; }

ol li {
  list-style-type: decimal; }

ul li {
  font-family: "soleil", sans-serif;
  list-style-type: disc; }

span {
  color: #a38d32; }

small, .font_small {
  font-size: 0.8em; }

footer {
  width: 100%;
  height: 100px; }

label {
  font-size: 1.1em;
  color: #7a7a7a;
  padding: 10px 0; }

fieldset {
  margin-top: 15px;
  box-sizing: border-box;
  float: left;
  width: 100%; }

fieldset.form-half {
  width: 48%; }
  fieldset.form-half:nth-child(even) {
    margin-left: 4%; }

input, textarea {
  cursor: pointer;
  width: 100%;
  padding: 18px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 1.1em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #fff;
  background: #f5f5f5;
  outline: 0;
  font-family: "soleil", sans-serif;
  -webkit-appearance: none;
  color: #7a7a7a;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  input:focus, textarea:focus {
    border: 1px solid #a38d32;
    color: #a38d32; }
  @media (max-width: 870px) {
    input, textarea {
      padding: 12px 17px; } }
  @media (max-width: 350px) {
    input, textarea {
      padding: 10px 13px; } }

input[type="submit"] {
  width: 200px;
  float: right;
  background: #a38d32;
  border: 0;
  color: #fff; }

header {
  position: relative;
  width: 100%;
  border-top: 3px solid #a38d32;
  height: auto;
  overflow: auto;
  padding-bottom: 30px;
  padding-top: 30px; }
  header nav {
    margin-top: 30px;
    margin-left: 50px; }
  header nav ul li {
    display: inline;
    padding-left: 75px; }
    header nav ul li a {
      color: #a38d32;
      font-size: 1.1em;
      letter-spacing: 1px;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase; }
  header .language-selector {
    float: right;
    margin-top: 25px; }
    header .language-selector .language-selected:after {
      content: "";
      display: block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #a38d32;
      position: absolute;
      margin-top: 6px;
      padding-top: 7px;
      right: 0;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    header .language-selector a {
      color: #7a7a7a;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 1px;
      text-decoration: none;
      clear: both;
      width: 130px;
      float: left;
      cursor: pointer; }
    header .language-selector ul.dropdown {
      display: none;
      margin-top: 50px;
      background: #fff; }
    header .language-selector ul.dropdown.active {
      display: block; }
    header .language-selector ul li {
      padding: 8px 0;
      margin-bottom: 20px;
      list-style-type: none; }
    header .language-selector span {
      float: left;
      display: block;
      margin-top: 6px; }
    header .language-selector img {
      margin-right: 15px;
      width: 30px;
      float: left; }

.link-btn-one {
  color: #fff;
  padding: 10px 30px 8px 30px;
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 120px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .link-btn-one:hover {
    background: #fff;
    color: #a38d32; }

.home {
  width: 100%;
  height: 500px;
  background: #f5f5f5;
  padding: 50px 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%); }
  .home .col-7 {
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none; }
    .home .col-7 h1, .home .col-7 p {
      color: #fff; }
    .home .col-7 h1 {
      width: 393px;
      border-bottom: 3px solid #a38d32;
      margin: 45px auto 25px auto;
      display: block; }

.about .col-8 {
  display: block;
  margin: 0 auto;
  padding: 0;
  float: none; }
.about .poly-strip {
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 40%);
  clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 35%);
  background: #f5f5f5; }

.what p.large {
  padding-bottom: 100px; }
.what .row {
  border-bottom: 1px solid #d3d3d3; }
.what .row:last-child {
  border-bottom: 0; }
.what img {
  padding-bottom: 20px; }
.what .center {
  display: block;
  margin: 0 auto;
  padding: 0;
  float: none; }
.what .poly-strip {
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(0 65%, 100% 0, 100% 30%, 0 100%);
  clip-path: polygon(0 65%, 100% 0, 100% 30%, 0 100%);
  background: #f5f5f5; }

.contact {
  height: auto;
  overflow: auto; }
  .contact .col-8 {
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none; }
  .contact .row:last-child {
    padding-bottom: 100px;
    margin-bottom: 75px;
    border-bottom: 1px solid #d3d3d3; }

/*# sourceMappingURL=style.css.map */
