// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Colors
// =================================================================

$colorWhite: #FFF;
$colorOne: #2C3236;
$colorTwo: #7A8D8C;
$colorThree: #AABFBF;
$colorFour: #CBD7D7;
$colorFive: #C4C8C5;

.bg-one {
	background: $colorOne;
}

.bg-two {
	background: $colorTwo;
}

.bg-three {
	background: $colorThree;
}

.bg-four {
	background: $colorFour;
}

.bg-five {
	background: $colorFive;
}